{% extends 'iframe_templates/base.html' %}
{% block content %}
<h2>um, something wrong seems to have happened.</h2>
<h3>
    this could have happened for one of of 3 reasons
</h3>

<p>
    <strong>You need a key argument and a valid key</strong>, to create a key click on
    <a href="{% url 'admin:iframeapi_apikey_add' %}">here</a>, if you don't have
    access to that, and feel like you should please ping us on
    <a href="mailto:elcid@openhealthcare.org.uk">elcid@openhealthcare.org.uk</a
</p>

<p>
    <strong>You need a hospitalNumber arguments and a valid hospital number</strong>
</p>
<p>
    <strong>You need a column name</strong>. The valid column names you can use are
    <ul>
        {% for column_name in column_names %}
            <li>{{ column_name }}</li>
        {% endfor %}
    </ul>
</p>
{% endblock %}
