{% extends 'base.html' %}
{% block content %}
<div class="content-offset">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>
        Something seems to have gone wrong.
      </h3>
    </div>
    <div class="panel-body">

      <p>
        A good request to the Iframe API looks like e.g.:
      </p>
      <blockquote>
        /iframeapi/?hospitalNumber=XXXXXXXXXXXX&key=XXXXXXXXXXXXXXX&record=XXXXXXXXXX
      </blockquote>
      <blockquote>
        /iframeapi/?hospitalNumber=123456789&key=EWQIUOEQWUERWQOIUYOEQWUO&record=demographics
      </blockquote>

      <p>
        You need a valid <strong>API key</strong> - if you don't have one, then contact
        system administrator who can provide you with one.
      </p>
      
    </div> 
  </div>

</div>
{% endblock %}
